{% extends "all.html" %}
{% block body %}

<title>Discover</title>

<div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.cheapconversesneakers.com/images/large/cheapconversesneakers/whiteConverse-classic-SB-shoes-436_LRG.jpg" alt="">
                </a>
            </div>
        </div>

{% endblock %}
