{% extends "all.html" %}
{% block body %}
  
  
<p>
<img border="0" src="{{ip}}static/shoe_dataset/{{ shoeid }}.jpg" width="400" height="300">
</a>
</p>
<h2>{{ shoeinfo["name"] }}</h2>
<h4>{{ shoeinfo["price"] }}</h4>
<h4>{{ shoeinfo["stars"] }}</h4>
<h4>{{ shoeinfo["category"] }}</h4>
<h4>{{ shoeinfo["brand"] }}</h4>
<h4>{{ shoeinfo["color"] }}</h4>
<h4>{{ shoeinfo["sku"] }}</h4>
<h4><a href={{ shoeinfo["url"] }}>Buy Online</h4>

<form action="" method="post">
    <p><button class="btn btn-lg btn-primary" type="submit">Find Similar Shoes</button></p>
</form>
  
{% endblock %}
