{% extends "all.html" %}
{% block body %}
  
<div class="row">

<div style="text-align: center"> 
<p><img border="0" src="{{ip}}static/shoe_dataset/{{ shoeid }}.jpg" width="400" height="300"></p>

<h2>{{ shoeinfo["name"] }}</h2> 

<p>Price: {{ shoeinfo["price"] }}</p>


<p>
{% for star in range(numStars) %}
<span class="glyphicon glyphicon-star"></span>
{% endfor %}

{% for star in range(emptyStars) %}
	<span class="glyphicon glyphicon-star-empty"></span>
{% endfor %}
</p>

<p>Category: {{ shoeinfo["category"] }}</p>
<p>Brand: {{ shoeinfo["brand"] }}</p>
<p>Color: {{ shoeinfo["color"] }}</p>
<p>{{ shoeinfo["sku"] }}</p>

<div>
	<form style="display:inline-block">
	{% if shoeid in favorites %}
		<a href="/remove_favorite/{{ shoeid }}"><span class="glyphicon glyphicon-heart gi-lg blue"></span></a>
	{% else %}
		<a href="/save_favorite/{{ shoeid }}"><span class="glyphicon glyphicon-heart-empty gi-lg blue"></span></a>
	{% endif %}
	</form>

	<form style="display:inline-block">
	<a href="{{ shoeinfo["url"] }}" class="btn btn-sm btn-primary" role="button">Buy Online</a>
	</form>

	<form style="display:inline-block">
	<form type="file" action="/compare/{{ shoeid }}" method="get"><button class="btn btn-sm btn-primary" type="submit">Find Similar Shoes</button>
	</form>
	</form>
	
</div>

</div>
</div>
</div>

{% endblock %}
