{% extends "all.html" %}
{% block body %}
  
  
<p>
<img border="0" src="{{ip}}static/shoe_dataset/{{ shoeid }}_sm.jpg" width="100" height="100">
</a>
</p>
<h2>{{ shoeinfo["name"] }}</h2>
<h4>{{ shoeinfo["price"] }}</h4>
<h4>{{ shoeinfo["stars"] }}</h4>
<h4>{{ shoeinfo["category"] }}</h4>
<h4>{{ shoeinfo["brand"] }}</h4>
<h4>{{ shoeinfo["color"] }}</h4>
<h4>{{ shoeinfo["sku"] }}</h4>
<h4><a href={{ shoeinfo["url"] }}>Buy Online</h4>

<form action="" method="post">
<p><input type=submit value="Find Similar Shoes"></p>
</form>
  
{% endblock %}